.container{
    width:  600px;
    height: 600px;
    padding: 0px;
    margin: 1% auto 1% auto;

    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);

    border: solid black 4px;
    background-color: blanchedalmond;
}

#body{
    background-color: grey;
}

#food{
    background-color: orange;
}

#head{
    background-color: green;
}

#score{
    
    position: absolute;
    top: 100px;
    right: 100px;
}
#hiscore{
    position: absolute;
    top:80px;
    right: 100px;
}