.container{
    width:  600px;
    height: 600px;
    padding: 0px;
    margin: 1% auto 1% auto;

    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);

    border: solid black 4px;
    background-color: blanchedalmond;
}

#body{
    background-color: grey;
    border: 1px black dashed;
    border-radius: 20%;
    margin: 1px;
}

#food{
    background-color: orange;
    border-radius: 50%;

    width: 70%;
    height: 70%;

    margin: auto ;
}

#head{
    background-color: green;
    border-radius: 30%;
    /* background-image: url(images/head.png); */
    background-size: 110%;

}

#score{
    
    position: absolute;
    top: 100px;
    right: 100px;
}
#hiscore{
    position: absolute;
    top:80px;
    right: 100px;
}



.speed{
    position: absolute;
    display: flex ;
    top: 120px;
    right: 110px;;
}
#sfood{

    background-color: magenta;
    border-radius: 50%;
    
}